<!DOCTYPE html>
<html>
<head>
  <title>Secondapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center><h1>App for Assignment 2</h1></center>
<%= yield %>
	<%= link_to "Back to home.", home_url %>

</body>
</html>